body {
     font-family: "Roboto",sans-serif;
        color: #434455;
        background-color: #fff;
     }
a {
        text-decoration: none;
     }
 ul {
    list-style-type: none;
 }
 .logo {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    color: #4d5ae5;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
 }
 .logo-studio {
    font-family: "Raleway";
    font-size: 18px;
    line-height: 1.16667;
     color: #2e2f42;
 }
 .back-color {
 background-color: #fff;
 }
.nav-list {
     font-weight: 500;
     font-size: 16px;
     color: #2e2f42;
     line-height: 1.5;
     letter-spacing: 0.02em;
     

        }
.nav-list .list:hover,.nav-list .list:focus {
                    color: #404bbf ;
}
.list {
    font-weight: 500;
        font-size: 16px;
        color:#2e2f42;
        line-height: 1.5;
        letter-spacing: 0.02em;

}

.contact-info{
    font-style: normal;
}
.info-list {
    color: #434455;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contact-list .info-list:hover, .contact-list .info-list:focus {
   color: #404bbf;
 
}

 .color {
    background: #2e2f42;
    color: #fff;
    font-weight: 700;
    
 
}

.page-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;

}

.service-button {
    font-family: "Roboto", sans-serif;
    background-color: #4d5ae5;
    font-weight: 500;
    color: #fff;    
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.04em;
}
.service-button:hover, .service-button:focus {
background-color: #404bbf;
}

   

.team-color {
    background-color: #f4f4fd;;
}

.team-item {
    background-color: #fff;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.text-title {
    color: #434455;
    line-height: 1.5    ;
    font-size: 16px;
    letter-spacing: 0.02em;
}
.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;

}
.team-name {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
}
.team-role {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}
.team-portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;

}
.portfolio-title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.post-title {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 0.02em;
}

.section-color {
    background-color: #2e2f42;
}
.text {
    font-size: 16px;
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
}
.studio {
    font-family: "Raleway";
        font-size: 18px;
        color: #f4f4fd;
        line-height: 1.16667;
}