/*============
general styles
=============*/
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*============
header section
=============*/

.site-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.site-navigate {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nav-list,
.contact-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
}

.list {
  display: block;
  text-decoration: none;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.site-navigate {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #404bbf;
  display: flex;
  align-items: center;
}
.head-link {
  margin-right: 76px;
}
.logo-studio {
  font-family: 'Raleway';
  font-size: 18px;
  line-height: 1.16667;
  color: #2e2f42;
}
.nav-list {
  font-weight: 500;
  font-size: 16px;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
section {
  padding: 120px 0;
}

.info-list {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-list .list:hover,
.nav-list .list:focus {
  color: #404bbf;
}

.contact-list .info-list:hover,
.contact-list .info-list:focus {
  color: #404bbf;
}

/*============
section #1
=============*/

.color {
  background: #2e2f42;
  color: #fff;
  font-weight: 700;
}

.page-title {
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.service-button {
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  font-weight: 500;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
}
.service-button:hover,
.service-button:focus {
  background-color: #404bbf;
}

/*============
Advantages section #2
=============*/

.title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.text-title {
  color: #434455;
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
}

/*============
team section #3
=============*/

.team-color .team-item {
  background-color: #fff;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.team-name {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.team-role {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

/*============
portfolio section #4
=============*/

.team-portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.portfolio-title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.post-title {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

/*============
footer section #5
=============*/

.section-color {
  background-color: #2e2f42;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
.studio {
  font-family: 'Raleway';
  font-size: 18px;
  color: #f4f4fd;
  line-height: 1.16667;
}
